@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');
@import "./reset.css";


body {
    
    font-family: 'Rubik', sans-serif;
    color: #fff;

}


.header {
    
    background: linear-gradient(140.59deg, #562EC2 29.59%, #A07EFE 73.59%);
    border-radius: 17px;
    height: auto;
    width: auto;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.header__text {
    font-size: 35px;
    font-weight: 500;
    width: 364px;
    padding-top: 89px;
}

.container {
    max-width: 1109px;
    padding: 20px;
    margin: 0 auto;
}

.form {
    background: #F7F8FD;
    margin-top: 180px;
    height: 283.65px;
    border-radius: 26px;
    color: black;
}

.form__content {
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    
}

.section__left {
    width: 300px;
    margin-right: 120px;
}

.line {
    border-radius: 20px;
    margin-top: 16px;
    border: none; /* Убираем границу */
    background-color: rgba(214, 220, 226, 0.5); /* Цвет линии */
    color: rgba(214, 220, 226, 0.5); /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}

.give {
    padding-bottom: 35px;
}

.inprub {
    display: flex;
}

.bablo {
    font-weight: 300;
    padding-right: 70px;
}

.rub {
    font-size: 16px;
    font-weight: 300;
    color: #4E5983;
}


.give {
    color: #4E5983;
    font-size: 18px;
    font-weight: 500;
}

.sum {
    color: rgba(78, 89, 131, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 18px;
}

.sel {
    width: 50px;
    color: #4E5983;
    font-weight: 300;
    font-size: 16px;
    background: url(./img/Vector.svg) no-repeat right;
    appearance: none;
    outline: none;
}

.vert {
    
}

.liniya {
    position: absolute;
    padding-left: 180px;
    pointer-events: none
}

.section__right {
    margin-right: 50px;
}

.button {
    margin-top: 74px;
    width: 200px;
    background: linear-gradient(140.59deg, #562EC2 29.59%, #A07EFE 73.59%);
    height: 55px;
    border-radius: 9px;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

.button:active {
    padding-top: 1px;
}


















